
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../background/welcome/bg-welcome.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.welcome-container h1, .welcome-container p {
  margin: 10px;
  animation: fadeIn 2s ease-in-out;
}

.input-container {
  margin-top: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  opacity: 0.7;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Home (menu utama) */

.header-text {
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 20px;
  animation: textIn 2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.gallery img {
  width: 300px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(0.95);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.home-footer {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 14px;
  animation: fadeIn 2s ease-in;
}

@keyframes textIn {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

body.home {
  background-image: url('../background/halerin/bg-halerin.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
